/__pycache__/*
/venv/*
info.txt
github_token.txt
/cogs/__pycache__/*
*.log
*.db
/cogs/music_commands.py
/dropbox_funcs/__pycache__/*
/dropbox_funcs/dropbox_auth.py
dropbox_auth.py
main.log
/ignore/
/sounds/